.app-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f1f1f1;  
  padding: 20px;
  box-sizing: border-box;  
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 2rem;
}

.dropdown-btn {
  background-color: #fff;
  color: #333;
  padding: 6px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-top: 1rem; 
  gap: 8px; 
}
.dropdown-icon {
  width: 16px; 
  height: 16px; 
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 300px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content div {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
  flex-grow: 1;
  overflow-y: auto;
}

.column {
  padding: 10px 15px;
}

.column h2 {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  gap: 8px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.icon-container {
  display: flex; 
  gap: 8px; 
  margin-left: 'auto'
}
.heading-icon {
  width: 16px; 
  height: 16px; 
  cursor: pointer; 
}

.task-card {
  background-color: #ffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 10px;
}
.card-icon {
  width: 16px; 
  height: 16px; 
  margin-right: 5; 
}
.task-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.task-card p {
  font-size: 14px;
  margin: 5px 0;
}